{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    {{ form_row(form._token) }}
    <div class="form-group">
        <label class="col-sm-2 control-label nopadding">Id</label>
        <div class="col-sm-10">
            {{ task.getId() }}
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        {{ form_label(form.name,'Name *',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.name) }}</span>
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        {{ form_label(form.command,'Command *',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.command,{'attr':{'class':'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.command) }}</span>
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        {{ form_label(form.timeout,'Timeout *',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.timeout,{'attr':{'class':'form-control','placeholder':'minutes'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.timeout) }}</span>
        </div>
    </div>
	<div class="hr-dashed"></div>
    <div class="form-group">
        {{ form_label(form.timeout,'Entities *',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
        	<div class="col-sm-4">
        		<label class="col-sm-4 control-label required" for="entities_project">Project</label>
        		<div class="col-sm-3">
            		<input type="checkbox" class="form-control" id="entities_project" name="entities_project" value="1" {% if task.getEntities(1) %}checked="checked"{% endif %} />
            	</div>
            </div>
        	<div class="col-sm-4">
        		<label class="col-sm-4 control-label required" for="entities_domain">Domain</label>
        		<div class="col-sm-3">
            		<input type="checkbox" class="form-control" id="entities_domain" name="entities_domain" value="3" {% if task.getEntities(3) %}checked="checked"{% endif %} />
            	</div>
            </div>
        	<div class="col-sm-4">
        		<label class="col-sm-4 control-label required" for="entities_host">Host</label>
        		<div class="col-sm-3">
            		<input type="checkbox" class="form-control" id="entities_host" name="entities_host" value="4" {% if task.getEntities(4) %}checked="checked"{% endif %} />
            	</div>
            </div>
        	<div class="col-sm-4">
        		<label class="col-sm-4 control-label required" for="entities_server">Server</label>
        		<div class="col-sm-3">
            		<input type="checkbox" class="form-control" id="entities_server" name="entities_server" value="2" {% if task.getEntities(2) %}checked="checked"{% endif %} />
            	</div>
            </div>
        	<div class="col-sm-4">
        		<label class="col-sm-4 control-label required" for="entities_request">Request</label>
        		<div class="col-sm-3">
            		<input type="checkbox" class="form-control" id="entities_request" name="entities_request" value="5" {% if task.getEntities(5) %}checked="checked"{% endif %} />
            	</div>
            </div>
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label nopadding">Created date</label>
        <div class="col-sm-10">
            {% if task.getCreatedAt() %}{{ task.getCreatedAt()|date('d/m/Y H:i:s') }}{% endif %}
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label nopadding">Last update</label>
        <div class="col-sm-10">
            {% if task.getUpdatedAt() %}{{ task.getUpdatedAt()|date('d/m/Y H:i:s') }}{% endif %}
        </div>
    </div>
    <div class="hr-dashed"></div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary" type="submit">Save changes</button>
            <a href="javascript:;" id="btn-view" class="btn btn-default pull-left" style="margin-right:20px;">Cancel</a>
        </div>
    </div>
{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function(){
        $('#arus_task_command').focus();

        $('#btn-view').click(function() {
            obj=$(this);
            $.get( '{{ url('settings_task_view',{'id':task.getId()}) }}', function(data) {
                obj.parents('.panel').find('.object-info').html( data );
            });
        });
    });
</script>
