{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-alert-show">

        {{ include('ArusEntityAlertBundle:Default:delete.html.twig') }}
        {{ form_start(delete_form,{'attr':{'id':'delete-form'}}) }}
        <input type="submit" id="delete" value="Delete" class="alert-delete btn btn-danger pull-right">
        {{ form_end(delete_form) }}

        <a href="{{ url('alert_homepage') }}" class="btn btn-default pull-right" style="margin-right:20px;">Back</a>

        <h2 class="page-title">Alert #{{ alert.getId() }}</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Basic infos
                    </div>
                    <div class="panel-body">
                        <div class="object-info">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Id</label>
                                    <div class="col-sm-10">
                                        {{ alert.getId() }}
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Project</label>
                                    <div class="col-sm-10">
	                                    <a href="{{ url('project_show',{'id':alert.getProject().getId()}) }}">{{ alert.getProject().getName()|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Entity</label>
                                    <div class="col-sm-10">
                                        <a href="{{ url(t_entity_type[alert.getEntity().getType()]~'_show',{'id':alert.getEntity().getId()}) }}">{{ alert.getEntity().getName() }}</a>
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        {{ alert.getDescr()|raw }}
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Level</label>
                                    <div class="col-sm-10">
                                        <span class="alert_level_{{ alert.getLevel() }}">{{ t_level[alert.getLevel()] }}</span>
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <span class="alert_status_{{ alert.getStatus() }}">{{ t_status[alert.getStatus()] }}</span>
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Created date</label>
                                    <div class="col-sm-10">
                                        {% if alert.getCreatedAt() %}{{ alert.getCreatedAt()|date('d/m/Y H:i:s') }}{% endif %}
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Last update</label>
                                    <div class="col-sm-10">
                                        {% if alert.getUpdatedAt() %}{{ alert.getUpdatedAt()|date('d/m/Y H:i:s') }}{% endif %}
                                    </div>
                                </div>
                                <div class="hr-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <a href="{{ url('alert_edit',{'id':alert.getId()}) }}" class="btn btn-primary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#delete').on('click', function(e) {
                e.preventDefault();
                $('#modalAlertDelete').modal().one('click','#confirm-delete',function(e){
                    $('#delete-form').submit();
                });
            });
        });
    </script>
{% endblock %}
