{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-server">
        <a href="{{ url('server_new') }}" class="btn btn-primary pull-right">Create new server</a>
        <a href="{{ url('server_import') }}" class="btn btn-success pull-right" style="margin-right:20px;">Import server</a>
        <h2 class="page-title">Server managment</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        Search server
                    </div> -->
                    <div class="panel-body well">
                        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                        {{ form_row(form._token) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.id,'Id',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.id,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.name,'IP',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.alias,'Alias',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.alias,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.project,'Project',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.project,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.status,'Status',{'label_attr':{'class':'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.status,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-3">
                                    {{ form_widget(form.min_created_at,{'attr':{'class':'form-control datetimepicker'}}) }}
                                </div>
                                <label class="col-sm-4 control-label" style="text-align:center;">&lt;&nbsp;&nbsp;&nbsp;Created at&nbsp;&nbsp;&nbsp;&lt;</label>
                                <div class="col-sm-3">
                                    {{ form_widget(form.max_created_at,{'attr':{'class':'form-control datetimepicker'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% if t_server|length %}
            {{ pagination|raw }}

            <div class="row">
                <div class="col-sm-12">
                    <table id="zctb" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="70" style="text-align:center;">#</th>
                            <th width="200">Project</th>
                            <th width="200">IP</th>
                            <th>Alias</th>
                            <th>Open ports</th>
                            <th>Technologies</th>
                            <th width="80" style="text-align:center;">Hosts</th>
                            <th width="170" style="text-align:center;">Created date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for s in t_server %}
                                {% set class =  'server_status_' ~ t_status[s.getStatus()]|replace({' ':'_'}) %}
                                <tr class="{{ class }}">
                                    <td align="right"><a href="{{ path('server_show', { 'id': s.getId() }) }}" class="{{ class }}">{{ s.getId() }}</a></td>
                                    <td><a href="{{ path('project_show', { 'id': s.getProject().getId() }) }}" class="text-default">{{ s.getProject().getName()|capitalize }}</a></td>
                                    <td>
		                                {% if s.getMaxAlertLevel()[0] >= 0 %}
		                                    {% if s.getMaxAlertLevel()[1] == 0 %}
		                                   		{% set aclass = 'fa-bell-o' %}
		                                    {% else %}
		                                   		{% set aclass = 'fa-bell' %}
		                                    {% endif %}
		                                {% else %}
		                               		{% set aclass = 'alert-none' %}
		                                {% endif %}
		                                {% set aclass = aclass~' alert_level_'~s.getMaxAlertLevel()[0] %}
		                                <i class="fa {{ aclass }}"></i>
                                        <a href="{{ path('server_show', { 'id': s.getId() }) }}" class="{{ class }}">{{ s.getName() }}</a>
                                        {% if s.getEntityComments()|length %}
                                            <i class="fa fa-commenting-o"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ s.getAlias()|default('-') }}</td>
                                    <td>
	                                    {% if s.open_port|length > 250 %}
	                                        {{ s.open_port|slice(0,250) }}...
	                                    {% else %}
	                                        {{ s.open_port }}
	                                    {% endif %}
	                                </td>
                                    <td>{{ s.getEntityTechnologies()|raw }}</td>
                                    <td align="center">{{ s.getHostServers()|length }}</td>
                                    <td align="center">{% if s.getCreatedAt() %}{{ s.getCreatedAt()|date('d/m/Y H:i:s') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {{ pagination|raw }}
        {% else %}
            <div class="text-danger">No result, try again.</div>
        {% endif %}
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/bootstrap-datetimepicker.css") }}">
    <style>
        .panel {
            overflow: inherit;
        }
        .input-group {
            float: left !important;
        }
    </style>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("js/moment.js") }}"></script>
    <script src="{{ asset("js/bootstrap-datetimepicker.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#search_name').focus();
            $('.datetimepicker').datetimepicker({format: 'DD/MM/YYYY'});
        });
    </script>
{% endblock %}
