<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li data-toggle="tooltip" data-placement="right" title="Dashboard"><a href="{{ url('dashboard_homepage') }}" title="Dashboard"><i class="fa fa-dashboard"></i></a></li>
        <li class="open">
            <ul>
                <li data-toggle="tooltip" data-placement="right" title="Projects"><a href="{{ url('project_homepage') }}" title="Projects"><i class="fa fa-briefcase"></i></a></li>
                <li data-toggle="tooltip" data-placement="right" title="Domains"><a href="{{ url('domain_homepage') }}" title="Domains"><i class="fa fa-globe"></i></a></li>
                <li data-toggle="tooltip" data-placement="right" title="Hosts"><a href="{{ url('host_homepage') }}" title="Hosts"><i class="fa fa-arrow-right"></i></a></li>
                <li data-toggle="tooltip" data-placement="right" title="Servers"><a href="{{ url('server_homepage') }}" title="Servers"><i class="fa fa-sitemap"></i></a></li>
                <!-- <li data-toggle="tooltip" data-placement="right" title="Requests"><a href="{{ url('requete_homepage') }}" title="Requests"><i class="fa fa-external-link"></i></a></li> -->
            </ul>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Tasks"><a href="{{ url('task_homepage') }}" title="Tasks"><i class="fa fa-terminal"></i></a></li>
        <li data-toggle="tooltip" data-placement="right" title="Alerts"><a href="{{ url('alert_homepage') }}" title="Alerts"><i class="fa fa-bell-o"></i></a></li>
        <!-- <li data-toggle="tooltip" data-placement="right" title="Technologies"><a href="{{ url('technology_homepage') }}" title="Technologies"><i class="fa fa-cubes"></i></a></li>
        <li data-toggle="tooltip" data-placement="right" title="Comments"><a href="{{ url('comment_homepage') }}" title="Comments"><i class="fa fa-commenting-o"></i></a></li>
        <li data-toggle="tooltip" data-placement="right" title="Reports"><a href="{{ url('dashboard_homepage') }}" title="Reports"><i class="fa fa-edit"></i></a></li> -->
        <li data-toggle="tooltip" data-placement="right" title="Settings"><a href="{{ url('settings_homepage') }}" title="Settings"><i class="fa fa-gear"></i></a></li>
        <!-- <li data-toggle="tooltip" data-placement="right" title="Changelog"><a href="{{ url('changelog_homepage') }}" title="Changelog"><i class="fa fa-align-left"></i></a></li>
        <li data-toggle="tooltip" data-placement="right" title="Help"><a href="{{ url('help_homepage') }}" title="Help"><i class="fa fa-question"></i></a></li> -->
    </ul>
    <ul class="ts-sidebar-menu">
    	{% for ex in menu_extern %}
            <li data-toggle="tooltip" data-placement="right" title="{{ ex[0] }}"><a href="{{ ex[1] }}" title="{{ ex[1] }}" target="_blank"><i class="fa fa-{{ ex[2] }}"></i></a></li>
    	{% endfor %}
    </ul>
</nav>
