{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-attachment-list">

        <a href="{{ url('attachment_browse') }}" class="btn btn-default pull-right" style="margin-right:20px;">Back</a>

        <h2 class="page-title">Browse attachment / {{ project.getName() }}</h2>

        <div class="row">
        	<div class="col-md-12">
        	{% for a in t_attachment %}
        		{% set title = a.getTitle() %}
        		<div class="col-md-2 preview">
						<a href="{{ attachments_path }}{{ project.getId() }}/{{ a.getFilename() }}" data-featherlight="image" title="{{ a.getTitle() }}"><img src="{{ attachments_path }}{{ project.getId() }}/{{ a.getFilename() }}" title="{{ a.getTitle() }}" /></a>
	        			<br />
	        			<a href="{{ url(t_entity_type[a.getEntity().getType()]~'_show',{'id':a.getEntity().getId()}) }}" target="_blank">{{ title }}</a>
	        			({{ t_size[a.getId()] }})
        		</div>
        		{% if loop.index%12 == 0 %}
        		</div>
	        	<div class="col-md-12">
        		{%endif %}
        	{% endfor %}
        	</div>
        </div>
    </div>
{% endblock %}
