<div class="mod mod-loots panel panel-warning">
    <div class="panel-heading">
        Loots ({{ t_loot|length }})
        <a href="#" class="pull-right btn btn-danger btn-xs loot-add">Add loot</a>
    </div>
    <div class="panel-body">
        {% for alt in t_loot %}
            {{ include('ArusEntityLootBundle:Default:unit.html.twig') }}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.loot-unconfirm').unbind();
        $('.loot-unconfirm').on('click', function(e) {
            e.preventDefault();
            obj = $(this);
            url = obj.attr('href');
            $.ajax({
                url: url,
                method: 'POST'
            }).done(function(){
                reloadBlock( '.mod-loots', '{{ url('loot_getlist',{'entity_id':entity_id}) }}' );
            });
        });

        $('.loot-confirm').unbind();
        $('.loot-confirm').on('click', function(e) {
            e.preventDefault();
            obj = $(this);
            url = obj.attr('href');
            $.ajax({
                url: url,
                method: 'POST'
            }).done(function(){
                reloadBlock( '.mod-loots', '{{ url('loot_getlist',{'entity_id':entity_id}) }}' );
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#modalLootAdd').unbind();
        $('.loot-add').on('click', function(e) {
            e.preventDefault();
            $('#modalLootAdd').modal();
            $('#modalLootAdd').on('click','#confirm-save',function(e){
                e.preventDefault();
                form = $('#modalLootAdd form');
                $.post( form.attr('action'), form.serialize(), function(data) {
                    $('#modalLootAdd').find('.close').click();
                    reloadBlock( '.mod-loots', '{{ url('loot_getlist',{'entity_id':entity_id}) }}' );
                });
            });
        });
        $('#modalLootAdd').on('shown.bs.modal', function () {
            $('#modalLootAdd form').find('#arus_entity_loot_descr').focus();
        });
        $('#modalLootAdd').on('hide.bs.modal',function(){
            $('#modalLootAdd form')[0].reset();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#modalLootEdit').unbind();
        $('.loot-edit').on('click', function(e) {
            e.preventDefault();
            obj = $(this);
            url = obj.attr('href');
            $('#modalLootEdit').modal();

            form = $('#modalLootEdit form');
            form.attr( 'action', url );
            form.find('#arus_entity_loot_descr').val( obj.parent().parent().find('.loot-descr').html() );
            form.find('#arus_entity_loot_entity_id').val( obj.attr('data-entity-id') );

            $('#modalLootEdit').on('click','#confirm-save',function(e){
                form = $('#modalLootEdit form');
                $.post( form.attr('action'), form.serialize(), function(data) {
                    $('#modalLootEdit').find('.close').click();
                    reloadBlock( '.mod-loots', '{{ url('loot_getlist',{'entity_id':entity_id}) }}' );
                });
            });
        });
        $('#modalLootEdit').on('shown.bs.modal', function () {
            $('#modalLootEdit form').find('#arus_entity_loot_descr').focus();
        });
        $('#modalLootEdit').on('hide.bs.modal',function(){
            $('#modalLootEdit form')[0].reset();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#modalLootDelete').unbind();
        $('.loot-delete').on('click', function(e) {
            e.preventDefault();
            obj = $(this);
            url = obj.attr('href');
            $('#modalLootDelete').modal();
            $('#modalLootDelete').on('click','#confirm-delete',function(e){
                e.preventDefault();
                $.ajax({
                    url: url,
                    method: 'DELETE'
                }).done(function(){
                    $('#modalLootDelete').find('.close').click();
                    reloadBlock( '.mod-loots', '{{ url('loot_getlist',{'entity_id':entity_id}) }}' );
                });
            });
        });
    });
</script>
