{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-domain-show">

        {{ include('ArusDomainBundle:Default:delete.html.twig') }}

        {{ form_start(delete_form,{'attr':{'id':'delete-form'}}) }}
        <input type="submit" id="delete" value="Delete" class="btn btn-danger pull-right">
        {{ form_end(delete_form) }}
        <a href="{{ url('domain_homepage') }}" class="btn btn-default pull-right" style="margin-right:20px;">Back</a>
        <a href="{{ url('domain_survey',{id:domain.getId()}) }}" id="survey" class="btn btn-primary pull-right" {% if not domain.getSurvey() %}disabled="disabled"{% endif %} style="margin-right:20px;">Survey</a>

        <h2 class="page-title">Domain {{ domain.getName() }}</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Basic infos
                        <a href="#" class="pull-right btn btn-primary btn-xs task-add">Launch command</a>
                    </div>
                    <div class="panel-body">
                        <div class="object-info">
                            {{ include('ArusDomainBundle:Default:view.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ alert_mod|raw }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mod mod-hosts panel panel-success">
                    <div class="panel-heading">Host list ({{ domain.hosts|length }})</div>
                    <div class="panel-body">
                        {% if t_host|length %}
                            <table class="table table-bordered table-striped dataTable">
                                <thead>
                                <tr>
                                    <th width="70" style="text-align:center;">#</th>
                                    <th>Name</th>
                                    <th width="180">IP</th>
                                    <th width="170" style="text-align:center;">Created date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for h in t_host %}
                                    {% set class =  'host_status_' ~ t_status[h.getStatus()]|replace({' ':'_'}) %}
                                    <tr class="{{ class }}">
                                        <td align="right"><a href="{{ path('host_show', { 'id': h.getId() }) }}" class="{{ class }}">{{ h.getId() }}</a></td>
                                        <td>
	                                        {% if h.getMaxAlertLevel()[0] >= 0 %}
		                                        {% if h.getMaxAlertLevel()[1] == 0 %}
			                                   		{% set aclass = 'fa-bell-o' %}
	    	                                    {% else %}
			                                   		{% set aclass = 'fa-bell' %}
		                                        {% endif %}
	                                        {% else %}
		                                   		{% set aclass = 'alert-none' %}
	                                        {% endif %}
		                                    {% set aclass = aclass~' alert_level_'~h.getMaxAlertLevel()[0] %}
		                                    <i class="fa {{ aclass }}"></i>
                                            <a href="{{ path('host_show', { 'id': h.getId() }) }}" class="text-default">{{ h.getName() }}</a>
                                        </td>
                                        <td>
                                        	{% if h.getHostServers()|length %}
                                        		{% set s = h.getHostServers()[0].getServer() %}
                                        		<a href="{{ path('server_show', { 'id': s.getId() }) }}" class="text-default">{{ s.getName() }}</a>
                                        		{% if h.getHostServers()|length > 1 %}
	                                        		({{ h.getHostServers()|length }})
    	                                    	{% endif %}
                                        	{% else %}
                                        		-
                                        	{% endif %}
                                        </td>
                                        <td align="center">{% if h.getCreatedAt() %}{{ h.getCreatedAt()|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ task_mod|raw }}
            </div>
        </div>
{% endblock %}


{% block stylesheets %}
	#survey.disabled, #survey[disabled] {
    	cursor: pointer; !important
	}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#delete').on('click', function(e) {
                e.preventDefault();
                $('#myModal').modal().one('click','#confirm-delete',function(e){
                    $('#delete-form').submit();
                });
            });
            $('#survey').on('click', function(e) {
                e.preventDefault();
                lnk = $(this);
                $.ajax({
	               	url: lnk.attr('href'),
	               	success: function(data) {
	               		data = jQuery.parseJSON( data );
	               		if( !data.error ) {
		               		if( data.survey ) {
		               			lnk.removeAttr('disabled');
		               		} else {
		               			lnk.attr('disabled','disabled');
		               		}
	               		}
	               	}
                });
            });
        });
    </script>
{% endblock %}
